*.csproj
*.sln
*.meta

Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/

Assets/MagicLeap/
Assets/cxlabdev*
Assets/OpenCVForUnity/
Assets/Plugins/
Assets/Scenes/
Assets/StreamingAssets/
Assets/XR

.out/
.out/homographydemo.mpk
.out/.cache/
